{% extends "base.html" %}
{% block navbar_title %}
Articles
{% endblock %}
{% block navbar_button %}
<a class="btn btn-primary" href="{% url 'article-create' %}">Create</a>
{% endblock %}

{% block container %}
<table class="table table-hover">
    <tr>
        <thead class="thead-light">
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Category</th>
            <th scope="col">User</th>
        </tr>
        </thead>
        <tbody>
        {% for article in object_list %}
        <tr>
            <td><a href="{% url 'article-update' pk=article.id %}">{{article.title}}</a></td>
            <td>{{article.description}}</td>
            <td>{{article.category_id.title}}</td>
            <td>{{article.user_id.username}}</td>
            <td class="text-center"><a class="btn btn-danger" href="{% url 'article-delete' pk=article.id %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
</table>
{% endblock %}

